:root {
    --primary-color1: #FF4BD9;
    --primary-color2: #AC73FF;
    --primary-color3: #66DAFF;
    --white-color: #FAFAFA;
    --error-color: #FF2F1D;
    --warning-color: #FDFD28;
    --sucess-color: #77E631;
    --dark-mode: #181A20;
    --heading1: 4.4rem;
    --heading2: 3.6rem;
    --heading3: 2.8rem;
    --heading4: 2.4rem;
    --heading5: 2.0rem;
    --heading6: 1.6rem;
    --paragraph: 2.2rem;
}